
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.ActionLink("refresh", "HelloWord", "Home")
        <hr/>
        @Html.Action("HelloWord", "Home")
    </div>
</body>
</html>
